#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NUM 1
#define NAV 2
#define FUNC 3

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};

&sk {
    release-after-ms = <1000>;
    quick-release;
    ignore-modifiers;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE>;
};

/ {
  keymap {
    compatible = "zmk,keymap";

    base_layer {
      bindings = <
        &kp TAB   &kp Q &kp W &kp F &kp P &kp G     &kp J &kp L &kp U     &kp Y   &kp SEMI &kp RET
        &kp ESC   &kp A &kp R &kp S &kp T &kp D     &kp H &kp N &kp E     &kp I   &kp O    &kp SQT
        &sk LSHFT &kp Z &kp X &kp C &kp V &kp B     &kp K &kp M &kp COMMA &kp DOT &kp FSLH &sk LSHFT

        &none &mo NAV &kp BSPC     &kp SPACE &mo NUM &mo FUNC
      >;
    };

    num_layer {
      bindings = <
        &none &kp N1    &kp N2   &kp N3    &kp N4    &kp N5       &none    &kp LBRC  &kp LPAR  &kp RPAR &kp RBRC &none
        &none &kp N6    &kp N7   &kp N8    &kp N9    &kp N0       &kp STAR &sk LCTRL &sk LSHFT &sk LALT &sk LGUI &kp GRAVE
        &none &kp TILDE &kp PLUS &kp MINUS &kp EQUAL &kp PIPE     &none    &kp UNDER &kp LBKT  &kp RBKT &kp BSLH &none

        &none &kp SPACE &kp BSPC     &kp SPACE &trans &none
      >;
    };

    nav_layer {
      bindings = <
        &none &none    &none    &none     &none     &none     &none     &none    &none      &none     &none     &none
        &none &sk LGUI &sk LALT &sk LSHFT &sk LCTRL &none     &caps_word &kp LEFT &kp DOWN   &kp UP    &kp RIGHT &none
        &none &none    &none    &none     &none     &none     &none     &kp HOME &kp PG_DN  &kp PG_UP &kp END   &none

        &none &trans &none     &none &none &none
      >;
    };

    func_layer {
      bindings = <
        &none &kp F1 &kp F2 &kp F3 &kp F4 &kp F5        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
        &none &kp F6 &kp F7 &kp F8 &kp F9 &kp F10       &none        &sk LCTRL    &sk LSHFT    &sk LALT     &sk LGUI     &none
        &none &none  &none  &none  &none  &kp PSCRN     &none        &none        &none        &none        &none        &none

        &none &none &none     &none &none &trans
      >;
    };
  };
};

/*
layout:
  ortho_layout:
    split: true
    rows: 3
    columns: 6
    thumbs: 3
*/
